<header class="header">

	<div class="header_inner">

		<div class="header_left">
			<div class="header-title">Dashboard
				<span>(19 projects)</span>
		</div>
	</div>


		<div class="header_right">

			<form action="#">
				<div class="field">
					<input type="text" class="input" placeholder="Search-project">
					<span class="search__field-icon"><img src="./img/search.svg"></span>
				</div>
				<button class="button">new project</button>
			</form>


		</div>

	</div>
	
</header>


