<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

    <meta charset="{{ main.charset }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="robots" content="{{ main.robots }}">
    <meta name="keywords" content="{{ main.keywords }}">
    <meta name="description" content="{{ main.description }}">
    <meta name="author" content="{{ main.author }}">

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ main.favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ main.favicon }}" type="image/x-icon">
    <!-- /favicon -->

    <title>{{ main.title }}</title>

    <!-- css libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Custom style -->
    <link rel="stylesheet" href="{{ main.css }}screen.css">
</head>
<body>

