

<!-- .sidebar -->
<aside class="sidebar">
	
	<div class="sidebar-top">
		<span class="burger-menu"></span>
		<a href="#"></a>
	</div>

	<div class="sidebar-content">

		<div class="list-wrapper">
			<ul class="list">
				<li><a href=""><span class="icon"><img src="./img/dash.svg"></span><span class="item-text">Dashboard</span></a></li>
				<li><a href=""><span class="icon"><img src="./img/clients.svg"></span><span class="item-text">Clients</span></a></li>
				<li><a href=""><span class="icon"><img src="./img/team.svg"></span><span class="item-text">Team</span></a></li>
				<li><a href=""><span class="icon"><img src="./img/analytics.svg"></span><span class="item-text">Analytics</span></a></li>
				<li><a href=""><span class="icon"><img src="./img/notif.svg"></span><span class="item-text">Notifications</span><span class="number">3</span></a></li>
			</ul><!-- end .list -->
		</div><!-- end .list-wrapper -->

		<hr class="divider"></hr>

		<div class="list-wrapper">
			<ul class="list">
				<li><a href=""><span class="icon"><img src="./img/showcase.svg"></span><span class="item-text">Showcase</span></a></li>
				<li><a href=""><span class="icon"><img src="./img/blog.svg"></span><span class="item-text">Blog</span></a></li>
				<li><a href=""><span class="icon"><img src="./img/forum.svg"></span><span class="item-text">Forum</span></a></li>
				<li><a href=""><span class="icon"><img src="./img/help.svg"></span><span class="item-text">Help Center</span></a></li>
			</ul><!-- end .list -->
		</div><!-- end .list-wrapper -->

		<hr class="divider"></hr>

		<div class="list-wrapper">
			<ul class="list">
				<li><a href=""><span class="icon"><img src="./img/settings.svg"></span><span class="item-text">Settings</span></a></li>
				<li><a href=""><span class="icon"><img src="./img/dark.svg"></span><span class="item-text">Dark Mode</span></a></li>
				<li><a class="profile" href=""><span class="icon with-profile"><img src="./img/laura.svg"></span><span class="item-text">Laura R.</span><span class="sign">Sign Out</span></a></li>
			</ul><!-- end .list -->
		</div><!-- end .list-wrapper -->

	</div><!-- end .sidebar-content -->




	

</aside><!-- end .sidebar -->

