// ******************************************************
// Header
// ******************************************************

.header
	position: fixed
	top: 0
	left: 0
	width: 100%
	padding-left: 270px


	.header_inner
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		height: 59px
		width: 100%
		align-items: center
		border-bottom: 1px solid #f0f0f0
		padding: 0 15px


		.header_left
			min-width: 200px
			.header-title
				min-width: 200px
				font-family: Roboto
				line-height: 26px
				font-size: 22px
				span 
					font-size: 17px
			

		.header_right
			min-width: 200px
			.field
				display: inline-block

		






