// ******************************************************
// Navigation
// ******************************************************

aside.sidebar
	position: fixed
	left: 0
	top: 0
	width: 270px
	height: 100%
	border-right: 1px solid #dadada
	

	.sidebar-top
		background: white
		height: 60px
		position: relative
		margin-bottom: 30px

		a
			display: block
			position: absolute
			height: 26px
			width: 102px
			background: url(../img/logo.svg) no-repeat
			top: 20px;
			bottom: 20px;
			left: 84px
			right: 84px

		.burger-menu
			display: block
			height: 2px 
			width: 20px
			background: black
			position: absolute
			top: 50%
			left: 10%

			&::before, &::after
				content: ''
				@extend .burger-menu
				top: -5px
				left: 0

			&::after
				top: 5px
				


	.sidebar-content
		

		.list 
			list-style-type: none
			li 
				padding: 1px 0

				a 
					padding: 15px
					padding-left: 50px
					display: block
					position: relative
					line-height: 24px

					
					.icon
						display: block
						height: 20px
						width: 20px
						position: absolute
						left: 15px
						top: 50%
						transform: translate3d(0,-50%,0)
					.with-profile
						@extend .icon
						width: 40px
						height: 40px
						left: 9px


						img 
							width: 100% 
							display: block


					.number
						position: absolute
						color: red
						right: 5px
					.sign
						font-size: 10px 
						font-family: Roboto
						position: absolute
						right: 5px

					&.profile 
						padding-left: 60px	
		.divider
			margin-top: 33px
			margin-bottom: 33px
					



	









			






