.grid 
	margin-left: 15px
	margin-right: 15px
	&::after
		content: ''
		clear: both
		display: table

	.grid__item
		padding: 15px 15px
		width: 25%
		float: left

		.grid__image
			position: relative
			.inner-img
				width: 100%
			.grid__inner
				width: 100%
				height: 100%
				position: absolute
				.grid__list-inner
					list-style-type: none
					position: absolute
					right: 16px
					top: 25px
					li
						display: inline-block
						padding-left: 7px
						.grid__icon-inner
							display: block
				.grid__open-inner
					position: absolute
					right: 50%
					top: 50%
					transform: translate3d(50%,50%,0)
					color: blue
					font-size: 16px
					line-height: 19px
					font-family: Roboto
					font-style: bold

					&::after
						content: '>'
						display: block
						@extend .grid__open-inner
						right: -20px
						top: -8px


		.grid__icon-img
			max-width: 100%
			display: block
		.grid__content
			width: 100%
			background: blue
			padding: 20px 170px 20px 10px
			position: relative
			border-radius: 0 0 5px 5px
			h5
				font-family: Roboto
				font-size: 16px
				line-height: 19px
				color: white
			.grid__list
				list-style-type: none
				position: absolute
				right: 40px
				top: 50%
				transform: translate3d(0,-50%,0)
				padding-right: 10px

				li
					display: inline-block
					padding-left: 7px
			.grid__setting
				position: absolute
				height: 100%
				width: 40px
				right: 0
				top: 0

				&::before
					content: ''
					display: block
					width: 1px 
					height: 100%
					background: white
					position: absolute
					left: 0
				.grid__setting-icon
					position: absolute
					top: 50%
					left: 50%
					transform: translate3d(-50%,-50%,0)








