// ******************************************************
// Helpers
// ******************************************************

// Padding
// *******************************************
.p 

  // Top
  &-t 
    &-0 
      padding-top: 0
    

    &-5 
      padding-top: 5px
    

    &-10 
      padding-top: 10px
    

    &-15 
      padding-top: 15px
    
  

  // Bottom
  &-b 
    &-0 
      padding-bottom: 0
    

    &-5 
      padding-bottom: 5px
    

    &-10 
      padding-bottom: 10px
    

    &-15 
      padding-bottom: 15px
    
  

  // Left
  &-l 
    &-0 
      padding-left: 0
    

    &-5 
      padding-left: 5px
    

    &-10 
      padding-left: 10px
    

    &-15 
      padding-left: 15px
    
  

  // Right
  &-r 
    &-0 
      padding-right: 0
    

    &-5 
      padding-right: 5px
    

    &-10 
      padding-right: 10px
    

    &-15 
      padding-right: 15px
    
  




// Margin
// *******************************************
.m 

  // Top
  &-t 
    &-0 
      margin-top: 0
    

    &-5 
      margin-top: 5px
    

    &-10 
      margin-top: 10px
    

    &-15 
      margin-top: 15px
    
  

  // Bottom
  &-b 
    &-0 
      padding-bottom: 0
    

    &-5 
      padding-bottom: 5px
    

    &-10 
      padding-bottom: 10px
    

    &-15 
      padding-bottom: 15px
    
  

  // Left
  &-l 
    &-0 
      margin-left: 0
    

    &-5 
      margin-left: 5px
    

    &-10 
      margin-left: 10px
    

    &-15 
      margin-left: 15px
    
  

  // Right
  &-r 
    &-0 
      margin-right: 0 !important
    

    &-5 
      margin-right: 5px
    

    &-10 
      margin-right: 10px
    

    &-15 
      margin-right: 15px
    
  

