// ******************************************************
// button
// ******************************************************

.button
	outline: none
	border: none
	box-sizing: border-box
	font-size: 12px
	line-height: 14px
	padding: 14px 20px
	border-radius: 100px
	background: blue
	color: $white
	text-transform: uppercase
	position: relative

	&::before
		content: '+'
		font-size: 12px
		display: block
		position: absolute
		left: 10px

	&:hover, &:focus, &:active
		background: darken(blue, 20%)