// ******************************************************
// Form
// ******************************************************

// ******* field
.field
	position: relative


	// ******* input
	.input
		box-sizing: border-box
		font-size: 12px
		line-height: 14px
		padding: 12px 20px
		border-radius: 100px
		background: $white
		border: 1px solid blue
		min-width: 200px
	.search__field-icon
		position: absolute
		display: block
		width: 20px
		height: 20px
		right: 15px
		top: 50%
		transform: translate3d(0,-50%,0)

	