<!-- ******** add head -->
{{> head}}

<!-- ******** add header -->
{{> header}}

<!-- ******** add sidebar -->
{{> sidebar}}

<div class="content">
	<div class="content-inner">
		
		<div class="grid">
			<div class="grid__item">
				
				<div class="grid__image"><img class="inner-img" src="./img/cet.png"></div>
				<div class="grid__content">
					<h5>CET Limo</h5>
				
				<ul class="grid__list">
					<li><span class="grid__icon"><img class="grid__icon-img" src="./img/rocket.svg"></span></li>
					<li><span class="grid__icon"><img class="grid__icon-img" src="./img/element.svg"></span></li>
					<li><span class="grid__icon"><img class="grid__icon-img" src="./img/cloud.svg"></span></li>
				</ul>

				<a href="" class="grid__setting"><img src="./img/sett.svg" class="grid__setting-icon"></a>
				
				</div><!--*********** end grid__content class-->


			</div><!--*********** end grid__item class-->

			<div class="grid__item">
				
				<div class="grid__image">
					<img class="inner-img" src="./img/cet.png"></div>
				<div class="grid__content">
					<h5>CET Limo</h5>
				
				<ul class="grid__list">
					<li><span class="grid__icon"><img class="grid__icon-img" src="./img/rocket.svg"></span></li>
					<li><span class="grid__icon"><img class="grid__icon-img" src="./img/element.svg"></span></li>
					<li><span class="grid__icon"><img class="grid__icon-img" src="./img/cloud.svg"></span></li>
				</ul>

				<a href="" class="grid__setting"><img src="./img/sett.svg" class="grid__setting-icon"></a>
				
				</div><!--*********** end grid__content class-->


			</div><!--*********** end grid__item class-->

			<div class="grid__item">
				
				<div class="grid__image"><img class="inner-img" src="./img/cet.png"></div>
				<div class="grid__content">
					<h5>CET Limo</h5>
				
				<ul class="grid__list">
					<li><span class="grid__icon"><img class="grid__icon-img" src="./img/rocket.svg"></span></li>
					<li><span class="grid__icon"><img class="grid__icon-img" src="./img/element.svg"></span></li>
					<li><span class="grid__icon"><img class="grid__icon-img" src="./img/cloud.svg"></span></li>
				</ul>

				<a href="" class="grid__setting"><img src="./img/sett.svg" class="grid__setting-icon"></a>
				
				</div><!--*********** end grid__content class-->


			</div><!--*********** end grid__item class-->

				<div class="grid__item">
				
				<div class="grid__image"><img class="inner-img" src="./img/cet.png"></div>
				<div class="grid__content">
					<h5>CET Limo</h5>
				
				<ul class="grid__list">
					<li><span class="grid__icon"><img class="grid__icon-img" src="./img/rocket.svg"></span></li>
					<li><span class="grid__icon"><img class="grid__icon-img" src="./img/element.svg"></span></li>
					<li><span class="grid__icon"><img class="grid__icon-img" src="./img/cloud.svg"></span></li>
				</ul>

				<a href="" class="grid__setting"><img src="./img/sett.svg" class="grid__setting-icon"></a>
				
				</div><!--*********** end grid__content class-->


			</div><!--*********** end grid__item class-->

				<div class="grid__item">
				
				<div class="grid__image"><img class="inner-img" src="./img/cet.png"></div>
				<div class="grid__content">
					<h5>CET Limo</h5>
				
				<ul class="grid__list">
					<li><span class="grid__icon"><img class="grid__icon-img" src="./img/rocket.svg"></span></li>
					<li><span class="grid__icon"><img class="grid__icon-img" src="./img/element.svg"></span></li>
					<li><span class="grid__icon"><img class="grid__icon-img" src="./img/cloud.svg"></span></li>
				</ul>

				<a href="" class="grid__setting"><img src="./img/sett.svg" class="grid__setting-icon"></a>
				
				</div><!--*********** end grid__content class-->


			</div><!--*********** end grid__item class-->
				<div class="grid__item">
				
				<div class="grid__image">
					<div class="grid__inner">
						<a href="" class="grid__open-inner">Open Designer</a>

						<ul class="grid__list-inner">
							<li><span class="grid-inner"><img class="grid__icon-inner" src="./img/pointer.svg"></span></li>
							<li><span class="grid-inner"><img class="grid__icon-inner" src="./img/copy.svg"></span></li>
							<li><span class="grid-inner"><img class="grid__icon-inner" src="./img/delete.svg"></span></li>
						</ul>

					</div>
					<img class="inner-img" src="./img/wf.png">
				</div><!--*********** end grid__image class-->
				<div class="grid__content">
					<h5>CET Limo</h5>
				
				<ul class="grid__list">
					<li><span class="grid__icon"><img class="grid__icon-img" src="./img/rocket.svg"></span></li>
					<li><span class="grid__icon"><img class="grid__icon-img" src="./img/element.svg"></span></li>
					<li><span class="grid__icon"><img class="grid__icon-img" src="./img/cloud.svg"></span></li>
				</ul>

				<a href="" class="grid__setting"><img src="./img/sett.svg" class="grid__setting-icon"></a>
				
				</div><!--*********** end grid__content class-->


			</div><!--*********** end grid__item class-->
		</div>
	</div>


</div><!--*********** end content class-->

<!-- ******** add footer -->
{{> footer}}
